.main {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 70vw;
	background-image: url("/fondecran.png");
	color: white;
}

.image {
	transform: scale(-1);
	height: 30vh;
	width: 18vw;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	height: 100vh;
	width: 100vw;

	background-color: black;
}
.image2 {
	transform: scale(-1);
	height: 5vh;
	width: 3vw;
	margin: 20px;
}

.sentence1 {
	color: white;
	margin-left: 20px;
}
.sentence2 {
	color: white;
	margin-left: 20px;
}
.sentence3 {
	color: white;
	margin-left: 20px;
	text-size-adjust: 100px;
}
.sentence4 {
	color: white;
	margin-left: 20px;
}
.signup {
	background-color: rgb(29 161 242);
	color: white;
	width: 200px;
	height: 30px;
	margin-left: 20px;
	border-radius: 20px;
	border-style: none;
	text-align: center;
}
.signup:hover {
	background-color: rgb(30, 142, 212);
	cursor: pointer;
}
.signin {
	background-color: black;
	color: rgb(29 161 242);
	width: 200px;
	height: 30px;
	margin-left: 20px;
	border-radius: 20px;
	border: 0.5px solid white;
	text-align: center;
}
.signin:hover {
	background-color: rgb(46, 46, 46);
	cursor: pointer;
}

.h1 {
	font-size: 80px;
}

.h2 {
	font-size: 80px;
}
